<div class="all-title page-header">
  <h3>Edit Track</h3>
</div>
<form name="newform" class="form-horizontal" role="form" ng-submit="updateMusic(genr)">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input name="title" type="text" ng-model="music.title" class="form-control" id="title" placeholder="Music Title Here"/>
      <div ng-messages="newform.title.$error">
      <div ng-message="required">Title is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="rating" class="col-sm-2 control-label">Rating</label>
    <div class="col-sm-10">
      <input name="rate" type="text" ng-model="music.rating" class="form-control" id="year" placeholder="Rating"/>
      <div ng-messages="newform.rate.$error">
      <div ng-message="required">Rating is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="genre" class="col-sm-2 control-label">Music Genre</label>
    <div class="col-sm-10">
      <input name="genre" type="number" ng-model="genr" class="form-control" id="plot" placeholder="Music genre"/>
      <div ng-messages="newform.genre.$error">
      <div ng-message="required">Genre Number is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="genres-btn btn btn-primary" value="Save"/>
      <button class="cancel-btn btn btn-default" type="button" name="button" onclick="goBack()">Cancel</button>
    </div>
  </div>
</form>
